<ul class="recipe-list">
    {% for recipe in recipe_list %}
    <li>
        <img src="{{ recipe.get_thumbnail_image_url() }}" alt="{{ recipe.name }}" width="100" height="100">
        <a href="#"
           hx-get="{{ url_for('recipe_detail', recipe_id=recipe.index) }}"
           hx-target="#recipe-details"
           hx-on::after-request="this.closest('body').querySelector('#recipe-details').classList.remove('empty')">{{ recipe.name }}
        </a>
    </li>
    {% endfor %}

    {% if page < total_pages %}
    <li>
        <span hx-target="closest li"
        hx-trigger="intersect once"
        hx-swap="outerHTML"
        hx-get="{{ url_for('list_recipes', page=page+1) }}">Loading More...</span>
    </li>
    {% endif %}
</ul>
