{% extends "layout.html" %}

{% block title %}Recipe Browser{% endblock %}

{% block content %}
<h1>Recipe Browser</h1>
<p>Browse {{ total_recipes }} delicious recipes</p>

<div class="search-box">
    <input type="search"
           name="q"
           placeholder="Search recipes..."
           hx-get="{{ url_for('search_recipes') }}"
           hx-trigger="input changed delay:300ms, search"
           hx-target="#recipe-list">
</div>

<div id="recipe-list">
{% include "recipe_list_fragment.html" %}
</div>

{% endblock %}