{% extends "_layout.html" %}

{% block title %}Recipe Browser{% endblock %}

{% block content %}
<h1>Recipe Browser</h1>
<p>Browse  <a href="{{ url_for('home') }}">all {{ total_recipes }} recipes</a>.</p>

<div class="search-box">
    <form action="{{ url_for('search_recipes') }}" method="get">
        <input type="search" name="q" placeholder="Search recipes...">
        <button type="submit">Search</button>
    </form>
</div>

<div id="recipe-list">
    <h3>Recipe List</h3>
    <ul class="recipe-list">
    {% include "_recipe_list_items.html" %}
    </ul>
    
    <div class="pagination">
        {% if page > 1 %}
        <a href="{{ url_for('list_recipes', page=page-1) }}">Previous</a>
        {% endif %}

        <span class="current">Page {{ page }} of {{ total_pages }}</span>

        {% if page < total_pages %}
        <a href="{{ url_for('list_recipes', page=page+1) }}">Next</a>
            {% endif %}
    </div>
</div>

{% endblock %}