

<ul class="recipe-list">
    {% for recipe in recipe_list %}
    <li>
        <img src="{{ recipe.get_thumbnail_image_url() }}" alt="{{ recipe.name }}" width="100" height="100">
        <a href="{{ url_for('recipe_detail', recipe_id=recipe.index) }}">{{ recipe.index }} - {{ recipe.name }}</a>
    </li>
    {% endfor %}
</ul>

<div class="pagination">
    {% if page > 1 %}
    <a href="{{ url_for('list_recipes', page=page-1) }}">Previous</a>
    {% endif %}

    <span class="current">Page {{ page }} of {{ total_pages }}</span>

    {% if page < total_pages %}
    <a href="{{ url_for('list_recipes', page=page+1) }}">Next</a>
    {% endif %}
</div>
